<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wingchi.stock.mapper.StockMapper">
    <select id="getStockBySkuId" resultType="integer">
        select stock
        from `sku` where id=#{skuId}
    </select>
</mapper>